<header class="bg-primary text-white text-center py-4">
    <h1>Chi tiết Sản phẩm</h1>
</header>

<main class="container my-5">
    <h2 class="text-primary">{{product.product_name}}</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="{{product.image}}" class="img-fluid" alt="{{product.product_name}}">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between">
            <div>
                <p><strong>Giá:</strong> {{product.price}} VND</p>
                <p><strong>Dung lượng lưu trữ:</strong> {{product.storage_capacity}}</p>
                <p><strong>Hệ điều hành:</strong> {{product.operating_system}}</p>
                <p><strong>Kích thước màn hình:</strong> {{product.screen_size}}</p>
                <p><strong>Trọng lượng:</strong> {{product.weight}} g</p>
                <p><strong>Năm phát hành:</strong> {{product.release_year}}</p>
            </div>
            
            <!-- Hiển thị màu sắc -->
            <h3 class="mt-4">Màu sắc</h3>
            <div class="d-flex flex-row flex-wrap gap-3 justify-content-start mt-4">
                {{#each product.colors}}
                <div class="card border rounded shadow-sm" style="width: 8rem; height: auto; text-align: center;">
                    <div class="card-body">
                        <h6 class="card-title text-dark fw-bold">{{this.color_name}}</h6>
                        <p class="text-muted small">Số lượng: {{this.stock}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{!-- <a href="/admin/categories" class="btn btn-secondary mt-4">Quay lại</a> --}}
</main>
