{{#if message}}
<div class="alert alert-danger" role="alert">
  {{message}}
</div>
{{/if}}
<div class="container my-5">

  <!-- Thanh tìm kiếm -->
  <div class="row mb-4">
    <div class="col-md-12">
      <form method="GET" action="/search" class="input-group">
        <span class="input-group-text bg-light border-0">
          <i class="bi bi-search"></i>
        </span>
        <input type="text" name="q" class="form-control border-0" placeholder="Bạn cần tìm gì?" value="{{query}}">
        <button type="submit" class="btn btn-light border-0">
          <i class="bi bi-arrow-right"></i>
        </button>
      </form>
    </div>
  </div>


  <!-- Hiển thị danh mục sản phẩm -->
  <h1 class="text-start mb-4">Danh mục sản phẩm</h1>

  <!-- Menu ngang với danh mục sản phẩm và các mục sản phẩm hiển thị cùng dòng -->
  <div class="d-flex flex-wrap">
    <ul class="nav me-4">
      {{#each categories}}
      <li class="nav-item">
        <a class="nav-link" href="/user/{{id}}/products" style="font-size: 1.5rem; font-weight: bold;">{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>


  <!-- Hiển thị sản phẩm -->
  <h1 class="text-start mb-4">Tất cả sản phẩm</h1>
  <div class="row">
    {{#each products}}
    <div class="col-md-3 mb-4">
      <div class="card h-100 text-center">
        <img src="{{image}}" class="card-img-top" alt="{{product_name}}" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{product_name}}</h5>
          <p class="card-text">Giá: {{price}} VND</p>
          <a href="/product/{{product_id}}" class="btn btn-success">Xem chi tiết</a>
          <p class="text-muted">Danh mục: {{category_name}}</p>
          <button onclick="addToCart({{product_id}}, 1)" class="btn btn-primary">Thêm vào giỏ hàng</button>

        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>